# ----------------------------
# OS / Misc
# ----------------------------
.DS_Store
*.log
*.class
*.pyc
*.swp

# ----------------------------
# IDE
# ----------------------------
.idea/
*.iml
*.ipr
*.iws

# VS Code (keep if team shares settings)
#.vscode/

# ----------------------------
# Flutter / Dart
# ----------------------------
.dart_tool/
.packages
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

# iOS
ios/Flutter/.last_build_id

# Android build
android/app/debug
android/app/profile
android/app/release

# ----------------------------
# FVM (IMPORTANT)
# ----------------------------
.fvm/

# DO NOT ignore this
!.fvmrc

# ----------------------------
# ENV (VERY IMPORTANT)
# ----------------------------
.env
.env.*
!.env.example

# ----------------------------
# Firebase Admin (SECRET)
# ----------------------------
serviceAccountKey.json

# ----------------------------
# Optional (if generated)
# ----------------------------
*.lock
